################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/GAPTest/.vs/GAPTest/v15/Server/sqlite3
